body{
    background-color: pink;
    font-family: Helvetica, sans-serif;
}
.group{
    background-color: palevioletred;
    padding: 30px 40px;
    width: max-content;
    margin: 100px auto 0px auto;
    border: solid rgb(212, 75, 121) 5px;
    border-radius: 10px;
}
a{
    display: block;
    color: black;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFF4BC;
    padding: 20px 30px;
    border-radius: 30px;
    border: 5px solid white;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
}
#no{
    font-size: small;
}
.agroup{
    display: flex;
    width: max-content;
}
.agroup a{
    flex: 1;
    width: 200px;
    text-align: center;
}